<h1><%= link_to "Shivalrous Run", root_path %></h1>
<ul class="nav">
  <% if current_user.present? %>
    <li class="nav-item">
      <%= link_to "#{current_user.name}", profile_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Edit Profile', profile_edit_path, class: "nav-link" %>
    </li>
      <% if current_user.is_admin? %>
        <li class="nav-item">
          <%= link_to "Manage Users", users_path, class: "nav-link" %>
        </li>
      <% end %>
    <li class="nav-item">
      <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Register', register_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Login', login_path, class: "nav-link" %>
    </li>
  <% end %>
</ul>
