  <h1>User</h1>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Family Name:</strong>
    <%= @user.family_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>


<!-- Add profile pic here as an example of how to take profile pic from facebook account -->
    <p>
      <strong>Profile Pic:</strong>
      <%= image_tag(@user.provider_img)%>
      <!-- <%= @user.provider_img %> -->
    </p>
