  <h1>Goals</h1>
    <div class="row">
    <% @goals.each do |goal| %>
      <div class="one-third column" style="border: solid 0.5px #555; border-radius:10px;padding: 20px;">
        <h6 class="project-title"><strong><%= goal.title %></strong></h6>
        <p class="project-byline"><%= goal.user.name %></p>
        <p class="project-content"><%= goal.description %></p>
        <p class="project-content-extra"><%= goal.beneficiary.name %></p>
        <ul class="twelve columns">
          <li class="project-footer">
            <strong>$<%= goal.target_amount %></strong>
            <span class="project-footer-extra">Target</span>
          </li>
          <li class="project-footer">
            <strong>$<%= goal.penalty_amount %></strong>
            <span class="project-footer-extra">Penalty</span>
          </li>
          <li class="project-footer">
            <strong><%= goal.deadline %></strong>
            <span class="project-footer-extra">deadline</span>
          </li>
        </ul>
        <ul class="twelve columns">
          <li class="project-footer">
            <strong><%= goal.total_pledged_amount %></strong>
            <span class="project-footer-extra">Total pledged</span>
          </li>
        </ul>
        <p class="project-footer"><%= goal.is_goal_validated %></p>
        <p class="project-footer"><%= goal.is_goal_completed %></p>
        <div class="twelve column">
          <%= link_to 'Pledge', new_pledge_path(:id => goal.id), :method => :get, class: "hvr-bounce-to-right" %>
        </div>
      </div>
    <% end %>
    </div>

  <br>

  <%= button_to 'Book new goal', new_goal_path, :method => :get, class:"hvr-bounce-to-right" %>
<button class="hvr-bounce-to-right">hi</button>
