  <h1>Goals</h1>
    <div class="row">
    <% @goals.each do |goal| %>
      <div class="one-third column" style="border: solid 0.5px #555; border-radius:10px;padding: 20px;">
        <h6 class="project-title"><strong><%= goal.title %></strong></h6>
        <p class="project-byline"><%= goal.user.name %></p>
        <p class="project-content"><%= goal.description %></p>
        <p class="project-content"><%= goal.beneficiary.name %></p>
        <p class="project-content">$<%= goal.target_amount %></p>
        <p class="project-content">$<%= goal.penalty_amount %></p>
        <p class="project-content"><%= goal.deadline %></p>
        <p class="project-content"><%= goal.total_pledged_amount %></p>
        <p class="project-content"><%= goal.is_goal_validated %></p>
        <p class="project-content"><%= goal.is_goal_completed %></p>
        <p><%= link_to 'Pledge', new_pledge_path(:id => goal.id), :method => :get, class: "hvr-bounce-to-right" %></p>
      </div>
    <% end %>
    </div>

  <br>

  <%= button_to 'Book new goal', new_goal_path, :method => :get, class:"hvr-bounce-to-right" %>
<button class="hvr-bounce-to-right">hi</button>
