  <h1>Goals</h1>
    <div class="row">
    <% @goals.each do |goal| %>
      <div class="one-third column" style="border: solid 0.5px #555; border-radius:10px;padding: 20px;">
        <h3><%= goal.title %></h3>
        <p><%= goal.description %></p>
        <p><%= goal.beneficiary.name %></p>
        <p><%= goal.user.name %></p>
        <p>$<%= goal.target_amount %></p>
        <p>$<%= goal.penalty_amount %></p>
        <p><%= goal.deadline %></p>
        <p><%= goal.total_pledged_amount %></p>
        <p><%= goal.is_goal_validated %></p>
        <p><%= goal.is_goal_completed %></p>
        <p><%= button_to 'Pledge', goal, :method => :get, class: "hvr-bounce-to-right" %></p>
      </div>
    <% end %>
    </div>

  <br>

  <%= button_to 'Book new goal', new_goal_path, :method => :get, class:"hvr-bounce-to-right" %>
<button class="hvr-bounce-to-right">hi</button>
